<!-- <ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header> -->

<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>أستمع الى القرأن</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let item of quraan"  [routerLink]="['/play/',item.number]"  >
    <ion-avatar slot="start">
      {{item.number}}
    </ion-avatar>
    <ion-label>{{item.name}} </ion-label>
    <ion-icon slot="end"  name="play"></ion-icon>
  </ion-item>
</ion-list>
</ion-content>
