<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>الترقيمات المحفوظة </ion-title> 
    <ion-buttons slot="end">
      <ion-button (click)="goBack()" >
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
  </ion-buttons>


  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of ayats"  (click)="goToSurra(item)">
      <ion-avatar slot="start">
        {{item.numberInSurah}}
      </ion-avatar>
      <ion-label  class="ion-text-wrap">{{item.text}} </ion-label>
      <ion-icon slot="end" (click)="UnBookmark(item)"  name="book"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
