<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>{{data?.name}}</ion-title> 
    <ion-buttons slot="end">
      <ion-button (click)="goBack()" >
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
  </ion-buttons>


  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data?.ayahs"  (click)="start(item)">
      <ion-avatar slot="start">
        {{item.numberInSurah}}
      </ion-avatar>
      <ion-label [color]="item.audio == activeTrack?.audio ? 'success' : 'dark'" class="ion-text-wrap">{{item.text}} </ion-label>
      <ion-icon slot="end"   name="play"></ion-icon>
      <ion-icon slot="end" (click)="bookmark(item)"  name="book"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer *ngIf="activeTrack" class="ion-text-center">
  <ion-toolbar>
    <!-- <ion-title>Footer</ion-title> -->
    <ion-col size="12" class="ion-text-center">
      {{data?.name}}
    </ion-col>
    <!-- <ion-col size="12" class="ion-text-center">
      <ion-range
      #range
      [(ngModel)]="progress"
        min="0" max="100"
       
        color="primary"
        (touchend)="seek()"
        (mouseup)="seek()"
        >
      </ion-range>
    </ion-col> -->
    <ion-col size="12" class="ion-text-center">
      <ion-item>
        <ion-label>القارئ</ion-label>
        <ion-select placeholder="Select One" (ionChange)="changeReader($event)">
          <ion-select-option *ngFor="let qareaa of listOfReaders" value="{{qareaa.identifier}}" >{{qareaa.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="next()"  fill="clear" color="dark">
        <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
      </ion-button>
      <ion-button (click)="togglePlayer(fasle)"  *ngIf="!isPlaying" fill="clear" color="dark">
        <ion-icon slot="icon-only" name="play"></ion-icon>
      </ion-button>
      <ion-button (click)="togglePlayer(true)" *ngIf="isPlaying"  fill="clear" color="dark">
        <ion-icon slot="icon-only" name="pause"></ion-icon>
      </ion-button>
      <ion-button (click)="prev()"  fill="clear" color="dark">
        <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-toolbar>
</ion-footer>