<!-- //besm allah alrahman alrahem -->
<!-- http://quran.ksu.edu.sa/ayat/safahat1/2.png -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      مصحف المدينة المنورة
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="bookmarkPage()">
        <ion-icon [color]="activePage==koko ? 'success' : 'dark'" slot="icon-only" name="book"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button color="success" (click)="goToSlide()">Success</ion-button> -->


  <ion-slides (ionSlideDidChange)="getIndex(event)"  >
   <!-- <ion-label  *ngFor="let name of [].constructor(10)"  >Change Your App Layout</ion-label> -->
    <!--     
    <ion-slide ng-repeat="x in [].constructor(10) track by $index" >
      <img src="assets/img_quran/1.png"/>     
    </ion-slide> 
   
    -->


    <ion-slide *ngFor="let name of [].constructor(604) ; let i = index" >
      <!-- <ion-label>Change Your {{i + 1}}</ion-label> -->
      <img src="assets/img_quran/{{i + 1}}.png" />


    </ion-slide>


  </ion-slides>

  <!-- <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->



</ion-content>